@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PROPERTEASE</h1>
    <p class="lead">Your one-stop solution for buying, selling, and renting properties.</p>
    <a href="@Url.Action("Properties", "Home")" class="btn btn-primary btn-lg">Explore Properties</a>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="~/images/home-buy.jpg" alt="Buy Property">
            <div class="card-body">
                <h5 class="card-title">Buy Properties</h5>
                <p class="card-text">Browse through a wide range of properties to find your dream home.</p>
                <a href="@Url.Action("Buy", "Properties")" class="btn btn-outline-primary">Browse</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="~/images/home-sell.jpg" alt="Sell Property">
            <div class="card-body">
                <h5 class="card-title">Sell Properties</h5>
                <p class="card-text">List your property and connect with potential buyers.</p>
                <a href="@Url.Action("Sell", "Properties")" class="btn btn-outline-primary">List Your Property</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="~/images/home-rent.jpg" alt="Rent Property">
            <div class="card-body">
                <h5 class="card-title">Rent Properties</h5>
                <p class="card-text">Find rental properties that match your requirements.</p>
                <a href="@Url.Action("Rent", "Properties")" class="btn btn-outline-primary">Find Rentals</a>
            </div>
        </div>
    </div>
</div>
